* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(48, 62, 117);
  display: flex;
}

.container {
  background-color: rgb(205, 216, 255);
  padding: 0 1rem;
  margin-left: 250px;
  min-height: 100vh;
  width: calc(100% - 250px);
}

.side-menu {
  width: 250px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;

  .nav-menu {
    margin: 1rem 1rem 0;
    .list-menu {
      display: flex;
      flex-direction: column;
      list-style: none;
      gap: 0.5rem;

      li {
        display: flex;
        align-items: center;
        height: 3rem;
        transition: color 0.2s;

        .item-menu {
          background-color: rgb(71, 85, 141);
          border-radius: 0.2rem;
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;
          text-decoration: none;
          color: rgb(3, 0, 78);
          font-weight: 500;
          transition: color 0.2s;
          padding-left: 1rem;
          font-weight: 600;
          transition: 0.2s ease-in-out;
        }

        .item-menu:hover {
          color: rgb(255, 174, 0);
          background-color: rgb(122, 138, 201);
          transform: translateX(4px);
        }

        .item-menu.active {
          color: rgb(255, 174, 0);
          background-color: rgb(122, 138, 201);
          transform: translateX(4px);
        }
      }
    }
  }
}

.warning {
  color: rgb(160, 0, 0);
}

.visible {
  display: none;
}

h1 {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(3, 0, 78);
}

h2 {
  padding-bottom: 5px;
  color: rgb(3, 0, 78);
  border-bottom: 2px solid rgb(3, 0, 78);
}

h3 {
  color: rgb(3, 0, 78);
}

.input-section {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 2rem 0;
  gap: 1rem;
  min-height: 100vh;

  .step {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
  }

  label {
    display: flex;
    gap: 0.5rem;
    height: 2rem;
    align-items: center;
  }

  select {
    width: 8rem;
    background-color: white;
    border: none;
    padding: 0.4rem;
    border-radius: 0.2rem;
  }

  textarea {
    resize: none;
    padding: 0.4rem;
    height: 2rem;
    border: none;
    border-radius: 0.2rem;
  }

  .result {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    width: 100%;

    textarea {
      height: auto;
      width: 50%;
    }
  }
}

.group {
  display: flex;
  gap: 1rem;
  align-items: center;

  input {
    height: 2rem;
    width: 20rem;
    padding: 0.4rem;
    border: none;
    border-radius: 0.2rem;
  }

  button {
    padding: 0.45rem 1rem;
    border: none;
    border-radius: 0.2rem;
    background-color: rgb(218, 149, 0);
    color: rgb(255, 174, 0);
    color: rgb(255, 255, 255);
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
  }

  button:hover {
    background-color: rgb(255, 192, 57);
    color: rgb(32, 32, 32);
    transform: translateY(-2px);
  }

  button:active {
    background-color: rgb(80, 51, 0);
    color: rgb(255, 255, 255);
    transform: translateY(0);
  }
}

.list-iteration {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  padding: 1rem 0;
}

.table-iteration {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-left: 1rem;

  table {
    text-align: center;
    width: 400px;
    border-collapse: collapse;
    border-radius: 0.5rem;
    overflow: hidden;
    color: rgb(14, 0, 78);
    box-shadow: 0 0 10px rgba(0, 1, 60, 0.308);

    .caption {
      margin: 1rem auto;
      text-align: center;
      width: 100%;
    }

    tr {
      th {
        border-left: 1px solid rgb(0, 24, 91);
        border-right: 1px solid rgb(0, 24, 91);
      }

      th:last-child {
        border-right: none;
      }

      th:first-child {
        border-left: none;
      }
    }
    th {
      padding: 0.5rem;
      background-color: #fff0e3;
      border-bottom: 1px solid rgb(0, 24, 91);
    }

    td {
      padding: 0.5rem;
    }

    tr:nth-child(even) {
      background-color: #fff0e3;
    }

    tr:nth-child(odd) {
      background-color: #d3daff;
    }

    tr:nth-child(3) {
      td:nth-child(2) {
        background-color: rgb(255, 219, 166);
        color: #000939;
      }
    }

    tr:last-child {
      td:last-child {
        background-color: rgb(255, 153, 36);
        color: #ffffff;
      }
    }
  }
}

.alphabet-pairs {
  height: 100vh;
  padding-bottom: 40rem;
  display: grid;
  grid-template-columns: repeat(28, 1fr);
  margin: 5rem auto;
  gap: 0.2rem;
}

.pair {
  padding: 0.2rem 0.4rem;
  border-radius: 0.2rem;
  background-color: rgb(65, 72, 123);
  font-size: 1rem;
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.letter {
  color: rgb(229, 229, 229);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem;
  flex: 1;
}

.pair::after {
  content: "";
  position: absolute;
  width: 90%;
  height: 1px;
  background-color: rgb(255, 255, 255);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1200px) {
  .container {
    width: 850px;
  }

  .alphabet-pairs {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media (max-width: 800px) {
  .alphabet-pairs {
    margin-right: 4rem;
    padding-bottom: 100rem;
    grid-template-columns: repeat(4, 1fr);
  }
}
